.box{
    height: 100px;
}

.box1{
    background-color: rgb(255, 214, 255);
}

.box2{
    background-color: rgb(245, 168, 228);
}

.box3{
    background-color: rgb(241, 126, 222);
}

.box4{
    background-color: rgb(240, 103, 205);
}